body {
  margin: 0 auto;
  color: seashell;
  opacity: 0.9;
}

.flex-container {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.header img {
  margin-left: 10px;
  height: 50px;
}

.header ul {
  list-style: none;
  display: flex;
}

.header a {
  color: seashell;
  text-decoration: underline;
  padding: 10px;
}

.image-container {
  height: 700px;
  width: 1200px;
  margin-left: 50px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mission {
  height: 90px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mission h2 {
  margin-bottom: -10px;
}

#feature {
  width: 1200px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.featured-items {
  width: 1000px;
  margin-left: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.item {
  height: 200px;
  width: 300px;
  margin: 15px;
  padding-bottom: 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.item img {
  height: 200px;
  width: 300px;
}

.item h4 {
  margin-top: 10px;
}

#location {
  height: 500px;
  width: 1200px;
  margin-top: 50px;
  margin-left: 50px;
  background-image: url("../images/img-locations-background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#location h2 {
  margin-top: -30px;
}

.locations {
  display: flex;
  justify-content: space-around;
}

.text-box {
  height: 200px;
  width: 300px;
  opacity: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  height: 200px;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}
